/*** COMMON ***/

/*** MAIN ***/
body {
  height: auto;
}
#wrap {
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow-x: hidden;
}
#main {
  max-width: 1200px;
  padding: 0 14px;
  margin: 0 auto;
}
.intro-page #main {
  max-width: unset;
  min-height: unset;
  padding-top: 84px;
}

/*** SUB ***/
section.page__head {
  padding: 70px 0 65px;
}
.page--about-build section.page__head,
.page--about section.page__head {
  padding-bottom: 0;
}
section.page__head .page-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
article.content-article:last-child {
  margin-bottom: 160px;
}

.article__title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
}
/*** SUB ABOUT PAGE ***/
/** SUB ABOUT PAGE -> content--about **/
article.content--about {
  font-size: 0;
  margin-bottom: 160px;
}
.about-mets__img {
  width: 100%;
  height: 36vw;
  max-height: 460px;
  margin-bottom: 44px;
  background-image: url('../img/main/img-sample-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-mets__title {
  position: relative;
  display: inline-block;
  width: 230px;
  margin-right: 60px;
  font-size: 54px;
  font-weight: 900;
  line-height: 1;
  vertical-align: top;
}
.about-mets__title > .title__txt--bg {
  color: #e5e6e8;
}
.about-mets__title > .title__txt {
  position: absolute;
  top: 25px;
  right: 0;
}
.about-mets__subs {
  display: inline-block;
  width: calc(100% - 290px);
  padding-top: 40px;
  font-size: 14px;
  vertical-align: top;
}
.about-mets__subs > .subs__head {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
}
.about-mets__subs > .subs__body {
  font-size: 16px;
  line-height: 1.5;
}

/** SUB ABOUT PAGE -> content--management **/
.content--management .build__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}
.content--management .build__item {
  width: 25%;
}
.content--management .build__item .item__img {
  height: 28vw;
  max-height: 364px;
  margin-bottom: 14px;
  background-color: lightblue;
}
.content--management .build__item .item__img > .link-area {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content--management .build__item .item__img .link__btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('../img/icon/icon_link-21.svg');
  background-repeat: no-repeat;
  background-position: center 48%;
  background-size: 21px;
  box-shadow: 1px 2px 6px rgba(88, 88, 88, 0.1);
  opacity: 0;
  transition: 0.3s ease-in;
  z-index: 20;
}
.content--management .build__item:hover .item__img .link__btn {
  opacity: 1;
}
.content--management .build__item .item__img .link__img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../img/main/bg-sample-02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.4s ease-out;
}
.content--management .build__item.build--01 .item__img .link__img {
  background-image: url('../img/main/build_metrix_main.jpg');
  background-position: 85% center;
}
.content--management .build__item.build--02 .item__img .link__img {
  background-image: url('../img/main/build_seonwoo_main.jpg');
  background-position: 42% center;
}
.content--management .build__item.build--03 .item__img .link__img {
  background-image: url('../img/main/build_geukdong_main.jpg');
}
.content--management .build__item.build--04 .item__img .link__img {
  background-image: url('../img/main/build_seryeon_main02.jpg');
  background-position: 90% center;
}
.content--management .build__item .item__img .link__img::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.content--management .build__item:hover .item__img .link__img {
  transform: scale(1.05);
  backdrop-filter: blur(10px);
}
.content--management .build__item:hover .item__img .link__img::before {
  background-color: rgba(210, 210, 210, 0.1);
  backdrop-filter: blur(5px);
}
.content--management .build__item .item__subs {
  font-size: 20px;
}
.content--management .build__item .item__subs > .subs__head {
  font-weight: 700;
}
.content--management .build__item .item__subs > .subs__body {
  font-weight: 300;
}

/*** SUB NEWS ***/
/** SUB NEWS -> news list **/
.news__wrap {
  width: 100%;
  max-width: 660px;
  padding: 0 10px;
  margin: 0 auto;
}
.news__list {
  display: flex;
  flex-direction: column;
}
.news__list .news__item {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.news__list .news__item:last-child {
  border-bottom: none;
}
.news__item > .link-area {
  display: block;
  width: 100%;
}
.news__item .item__head {
  margin-bottom: 14px;
}
.news__item .item__head > .item__date {
  font-size: 14px;
  color: #a4a4a4;
}
.news__item .item__head > .item__title {
  font-size: 20px;
  font-weight: 700;
}
.news__item .item__body > .item__img {
  width: 100%;
  height: 50vw;
  max-height: 370px;
  background-color: lightgoldenrodyellow;
  margin-bottom: 14px;
}
.news__item .item__body > .item__subs {
  font-size: 14px;
  line-height: 1.5;
}

/*** SUB NEWS VIEW ***/
/** SUB NEWS VIEW -> news view **/
.news-view__wrap {
  width: 100%;
  max-width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}
.view__head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 8px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ddd;
}
.view__head > .view__title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
}
.view__head > .view__date {
  padding-top: 12px;
  color: #a4a4a4;
}
.view__head > .btn__wrap {
  display: inline-block;
}
.view__head > .btn__wrap > .btn {
  font-size: 13px;
}

.view__body {
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
}
.view__body > .view__img {
  width: 100%;
  max-width: 640px;
  height: 50vw;
  max-height: 360px;
  margin: 0 auto 24px;
  background-color: lightcyan;
}
.view__body > .view__img > .img__wrap {
  display: inline-block;
  width: 100%;
}
.view__body > .view__img > .img__wrap > img {
  width: 100%;
}
.view__body > .view__txt {
  padding: 0 14px;
}
.view__body > .view__txt * {
  font-size: 15px;
  line-height: 1.4;
}

.view__foot {
  margin-top: 14px;
}
.view__foot > .pager__box {
  display: flex;
  justify-content: space-between;
  transition: 0.2s ease-in;
}
.view__foot > .pager__box .pager--prev > .link-area,
.view__foot > .pager__box .pager--next > .link-area {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}
.view__foot > .pager__box .pager--prev > .link-area {
  padding-left: 16px;
}
.view__foot > .pager__box .pager--next > .link-area {
  padding-right: 17px;
}
.view__foot > .pager__box .pager--prev > .link-area::before,
.view__foot > .pager__box .pager--next > .link-area::before {
  content: '';
  display: block;
  position: absolute;
  top: 48%;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  background-image: url('../img/icon/icon_arrow-prev.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.view__foot > .pager__box .pager--prev > .link-area::before {
  left: 0;
}
.view__foot > .pager__box .pager--next > .link-area::before {
  right: 0;
  background-image: url('../img/icon/icon_arrow-next.svg');
}
.view__foot > .pager__box .pager--next .link-area > span {
  order: 1;
}
.view__foot > .pager__box .pager--next .link-area > em {
  order: 0;
}
.view__foot > .pager__box .link-area > span {
  font-weight: 500;
}
.view__foot > .pager__box .pager--prev .link-area > em,
.view__foot > .pager__box .pager--next .link-area > em {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: #777;
}
.view__foot > .pager__box .pager--prev:hover .link-area > em,
.view__foot > .pager__box .pager--next:hover .link-area > em {
  border-bottom: 1px solid #999;
}

/*** SUB CONTACT ***/
.contact__wrap {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 74px;
  padding: 0 10px;
  margin: 0 auto;
}
.contact__wrap > .contact--map {
  width: 50%;
  height: 70vw;
  max-height: 640px;
}
.contact__wrap > .contact--info {
  width: 50%;
}
.contact--info .info__item {
  margin-bottom: 34px;
}
.contact--info .info__item > h4 {
  margin: -6px 0 6px;
  font-size: 22px;
  font-weight: 700;
}
.contact--info .info__item > h5 {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 600;
}
.contact--info .info__item > .item__subs {
  font-size: 16px;
  line-height: 1.4;
}
.contact--info .info__item:first-child > .item__subs {
  font-weight: 500;
  font-size: 16px;
}

/** SUB -> build page **/
#main.build .content--build-about {
  margin-bottom: 180px;
}
#main.build.metrix .content--build-about {
  margin-bottom: 200px;
}
#main.build.geukdong .content--build-about {
  margin-bottom: 0;
}
#main.build .about-build__wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 44px;
}

#main.build .about-build__img {
  width: 60%;
  margin-bottom: 0;
  box-shadow: 1px 3px 8px rgba(88, 88, 88, 0.2);
}

#main.build .about-build__txt {
  flex-direction: column;
  justify-content: flex-end;
  gap: 14px;
  width: 40%;
  padding-bottom: 24px;
}
#main.build .about-build--tag {
  width: 100%;
  text-align: left;
}
#main.build .about-build--tag .tag__item {
  width: auto;
  margin-right: 14px;
  margin-bottom: 0;
  font-weight: 500;
}
#main.build .about-build--tag .tag__item:last-child {
  margin-right: 0;
}

#main.build .section__body {
  display: flex;
  flex-wrap: nowrap;
  gap: 34px;
}
#main.build .section__body .section__txt__wrap {
  width: 50%;
}
#main.build .section__body .section__img__wrap {
  position: relative;
  top: unset;
  left: unset;
  width: 50%;
  margin-top: -80px;
  background-color: #e5e6e8;
}
#main.build .build-info--detail .section__body .section__img__wrap {
  height: 30vw;
  max-height: 390px;
}
#main.build .section__body .section__img__wrap .section__img {
  box-shadow: 1px 3px 8px rgba(88, 88, 88, 0.2);
}

/* SUB -> BUILD page -> metrix */
#main.build.metrix .about-build__img {
  background-image: url('../img/main/build_metrix_main.jpg');
}
#main.build.metrix
  .build-info--detail
  .section__body
  .section__img__wrap
  .section__img {
  width: 34vw;
  max-width: 410px;
  height: 36vw;
  max-height: 432px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../img/main/build_metrix_parking.jpg');
  background-size: 90%;
  background-position: center -80p;
}

/* SUB -> BUILD page -> seonwoo */
#main.build.seonwoo .about-build__wrap {
  flex-direction: row-reverse;
}
#main.build.seonwoo .about-build__img {
  background-image: url('../img/main/build_seonwoo_main.jpg');
  background-size: cover;
}
#main.build.seonwoo .about-build__txt {
  text-align: right;
}
#main.build.seonwoo .about-build--tag {
  text-align: right;
}
#main.build.seonwoo .build-info--detail .section__title {
  margin-left: calc(50% + 64px);
}
#main.build.seonwoo .build-info--detail .section__body {
  flex-direction: row-reverse;
}
#main.build.seonwoo .build-info--detail .section__body .section__txt__wrap {
  padding-left: 42px;
}
#main.build.seonwoo
  .build-info--detail
  .section__body
  .section__img__wrap
  .section__img {
  background-image: url('../img/main/build_seonwoo_enter.jpg');
}

/* SUB -> BUILD page -> geukdong */
#main.build.geukdong {
  max-width: 1000px;
}
#main.build.geukdong .about-build__wrap {
  justify-content: flex-start;
  /* padding-right: 10%; */
  gap: 90px;
}
#main.build.geukdong .about-build__img {
  width: 40%;
  height: 50vw;
  max-height: 580px;
  margin-bottom: -230px;
  background-image: url('../img/main/build_geukdong_main.jpg');
}
#main.build.geukdong .about-build__txt {
  justify-content: flex-start;
  padding-top: 24px;
}
#main.build.geukdong .build-info--detail {
  margin-left: calc(50%);
}
#main.build.geukdong .build-info--detail .section__body .section__txt__wrap {
  width: 50%;
}

/* SUB -> BUILD page -> seryeon */
#main.build.seryeon .about-build__wrap {
  flex-direction: row-reverse;
}
#main.build.seryeon .about-build__txt {
  text-align: right;
}
#main.build.seryeon .about-build--tag {
  text-align: right;
}
#main.build.seryeon .about-build__img {
  background-image: url('../img/main/build_seryeon_main01.jpg');
}
#main.build.seryeon
  .build-info--detail
  .section__body
  .section__img__wrap
  .section__img {
  background-image: url('../img/main/build_seryeon_enter.jpg');
}
#main.build.seryeon .build-info--detail .section__title {
  margin-left: calc(50% + 64px);
}
#main.build.seryeon .build-info--detail .section__body {
  flex-direction: row-reverse;
}
#main.build.seryeon .build-info--detail .section__body .section__txt__wrap {
  padding-left: 42px;
}
#main.build.seryeon .build-info--fac-a .section__txt__wrap {
  width: 40%;
}
#main.build.seryeon .build-info--fac-a .section__img__wrap {
  justify-content: space-between;
  width: 60%;
  margin-top: -0px;
  background-color: rgba(255, 255, 255, 0);
}
#main.build.seryeon .build-info--fac-a .section__img__wrap > .section__img {
  width: 33%;
}
#main.build.seryeon
  .build-info--fac-a
  .section__img__wrap
  > .section__img:first-child {
  background-image: url('../img/main/build_seryeon_room1.jpg');
}
#main.build.seryeon
  .build-info--fac-a
  .section__img__wrap
  > .section__img:nth-child(2) {
  background-image: url('../img/main/build_seryeon_room2.jpg');
}
#main.build.seryeon
  .build-info--fac-a
  .section__img__wrap
  > .section__img:nth-child(3) {
  background-image: url('../img/main/build_seryeon_room3.jpg');
}
#main.build.seryeon
  .build-info--fac-a
  .section__img__wrap
  > .section__img
  > em {
  left: 0;
  right: unset;
}
#main.build.seryeon .build-info--fac-b .section__img__wrap > .section__img {
  background-image: url('../img/main/build_seryeon_rooftop1.jpg');
}
