/*** COMMON ***/

/*** MAIN ***/
body {
  height: auto;
}
#wrap {
  width: 100%;
  height: auto;
  background-color: #fff;
  /* background-color: #f7f8f8; */
  /* background-color: lightgray; */
}
#main {
  max-width: 1200px;
  /* min-height: 988px; */
  padding: 0 14px;
  margin: 0 auto;
}
.intro-page #main {
  max-width: unset;
  min-height: unset;
  padding-top: 84px;
}

/** MAIN -> main banner **/
/* MAIN -> main banner -> banner img wrap */
.banner-bg__wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 94vh;
  overflow: hidden;
  z-index: 0;
}
.banner-bg__list {
  width: 400%;
  height: 100%;
  background-color: lightblue;
  font-size: 0;
  box-sizing: border-box;
}
.banner-bg__list .banner-bg__item {
  display: inline-block;
  width: 25%;
  height: 100%;
  background-color: lightcoral;
  font-size: 14px;
}
.banner-bg__list .banner-bg__item .banner-bg--top {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.2);
  z-index: 20;
}
.banner-bg__list .banner-bg__item .banner-bg__img {
  width: 100%;
  height: 100%;
  background-image: url('../img/main/bg-sample-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
}
.banner-bg__list .banner-bg__item--01 .banner-bg__img {
  background-image: url(../img/main/bg-sample-01.jpg) !important;
}
.banner-bg__list .banner-bg__item--02 .banner-bg__img {
  background-image: url(../img/main/bg-sample-02.jpg);
}
.banner-bg__list .banner-bg__item--03 .banner-bg__img {
  background-image: url(../img/main/bg-sample-03.jpg);
}
.banner-bg__list .banner-bg__item--04 .banner-bg__img {
  background-image: url(../img/main/bg-sample-04.jpg);
}

/* MAIN -> main banner -> banner text wrap */
.banner__box {
  position: relative;
  width: 100%;
  height: calc(94vh - 84px);
  max-width: 1200px;
  padding: 0 14px;
  margin: 0 auto;
  opacity: 0.9;
}
.banner__wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(94vh - 84px);
}
.banner__list {
  position: relative;
  width: 100%;
  z-index: 50;
}
.banner__list > .banner__item {
  display: none;
}
.banner__list > .banner__item.now-on {
  display: block;
}
.banner__list .banner__txt {
  width: 600px;
  padding-bottom: 150px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 1.2;
}
.banner__title .title__sub {
  margin-bottom: 4px;
  font-size: 22px;
  font-weight: 300;
}
.banner__title .title {
  padding-bottom: 14px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}
.banner__subs {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0;
}
.banner__btn {
  display: inline-block;
  margin-top: 20px;
}
.banner__btn > button {
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}
.banner__btn > button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.25s ease-in;
  cursor: pointer;
}

/* MAIN -> main banner -> banner tab wrap */
.banner-tab__wrap {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-bottom: 150px;
  z-index: 50;
}
.banner-tab__list {
}
.banner-tab__list > .banner-tab__item {
}
.banner-tab__list > .banner-tab__item > a {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 15px;
  color: #fff;
  line-height: 2;
  cursor: pointer;
}
.banner-tab__list > .banner-tab__item > a > em {
  display: none;
  position: absolute;
  top: 48%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 5px;
  background-color: #fff;
}
.banner-tab__list > .banner-tab__item.now-on > a > em {
  display: inline-block;
}

/*** SUB ***/
section.page__head {
  padding: 70px 0 65px;
}
section.page__head .page-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
article.content-article:last-child {
  margin-bottom: 160px;
}

.article__title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
}
/*** SUB ABOUT PAGE ***/
/** SUB ABOUT PAGE -> content--about **/
article.content--about {
  font-size: 0;
  margin-bottom: 160px;
}
.about-mets__img {
  width: 100%;
  height: 36vw;
  max-height: 460px;
  margin-bottom: 44px;
  background-image: url('../img/main/img-sample-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-mets__title {
  position: relative;
  display: inline-block;
  width: 230px;
  margin-right: 60px;
  font-size: 54px;
  font-weight: 900;
  line-height: 1;
  vertical-align: top;
}
.about-mets__title > .title__txt--bg {
  color: #e5e6e8;
}
.about-mets__title > .title__txt {
  position: absolute;
  top: 25px;
  right: 0;
}
.about-mets__subs {
  display: inline-block;
  width: calc(100% - 290px);
  padding-top: 40px;
  font-size: 14px;
  vertical-align: top;
}
.about-mets__subs > .subs__head {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
}
.about-mets__subs > .subs__body {
  font-size: 16px;
  line-height: 1.5;
}

/** SUB ABOUT PAGE -> content--management **/
.content--management .build__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 4vw;
}
.content--management .build__item {
  width: 25%;
}
.content--management .build__item .item__img {
  height: 28vw;
  max-height: 364px;
  margin-bottom: 14px;
  background-color: lightblue;
}
.content--management .build__item .item__img > .link-area {
  display: block;
  width: 100%;
  height: 100%;
}
.content--management .build__item .item__img > .link-area > img {
  height: 100%;
}
.content--management .build__item .item__subs {
  font-size: 20px;
}
.content--management .build__item .item__subs > .subs__head {
  font-weight: 700;
}
.content--management .build__item .item__subs > .subs__body {
  font-weight: 300;
}

/*** SUB NEWS ***/
/** SUB NEWS -> news list **/
.news__wrap {
  width: 100%;
  max-width: 660px;
  padding: 0 10px;
  margin: 0 auto;
}
.news__list {
  display: flex;
  flex-direction: column;
}
.news__list .news__item {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.news__list .news__item:last-child {
  border-bottom: none;
}
.news__item > .link-area {
  display: block;
  width: 100%;
}
.news__item .item__head {
  margin-bottom: 14px;
}
.news__item .item__head > .item__date {
  font-size: 14px;
  color: #a4a4a4;
}
.news__item .item__head > .item__title {
  font-size: 20px;
  font-weight: 700;
}
.news__item .item__body > .item__img {
  width: 100%;
  height: 50vw;
  max-height: 370px;
  background-color: lightgoldenrodyellow;
  margin-bottom: 14px;
}
.news__item .item__body > .item__subs {
  font-size: 14px;
  line-height: 1.5;
}

/*** SUB NEWS VIEW ***/
/** SUB NEWS VIEW -> news view **/
.news-view__wrap {
  width: 100%;
  max-width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}
.view__head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 8px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ddd;
}
.view__head > .view__title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
}
.view__head > .view__date {
  padding-top: 12px;
  color: #a4a4a4;
}
.view__head > .btn__wrap {
  display: inline-block;
}
.view__head > .btn__wrap > .btn {
  font-size: 13px;
}

.view__body {
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
}
.view__body > .view__img {
  width: 100%;
  max-width: 640px;
  height: 50vw;
  max-height: 360px;
  margin: 0 auto 24px;
  background-color: lightcyan;
}
.view__body > .view__img > .img__wrap {
  display: inline-block;
  width: 100%;
}
.view__body > .view__img > .img__wrap > img {
  width: 100%;
}
.view__body > .view__txt {
  padding: 0 14px;
}
.view__body > .view__txt * {
  font-size: 15px;
  line-height: 1.4;
}

.view__foot {
  margin-top: 14px;
}
.view__foot > .pager__box {
  display: flex;
  justify-content: space-between;
  transition: 0.2s ease-in;
}
.view__foot > .pager__box .pager--prev > .link-area,
.view__foot > .pager__box .pager--next > .link-area {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}
.view__foot > .pager__box .pager--prev > .link-area {
  padding-left: 16px;
}
.view__foot > .pager__box .pager--next > .link-area {
  padding-right: 17px;
}
.view__foot > .pager__box .pager--prev > .link-area::before,
.view__foot > .pager__box .pager--next > .link-area::before {
  content: '';
  display: block;
  position: absolute;
  top: 48%;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  background-image: url('../img/icon/icon_arrow-prev.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.view__foot > .pager__box .pager--prev > .link-area::before {
  left: 0;
}
.view__foot > .pager__box .pager--next > .link-area::before {
  right: 0;
  background-image: url('../img/icon/icon_arrow-next.svg');
}
.view__foot > .pager__box .pager--next .link-area > span {
  order: 1;
}
.view__foot > .pager__box .pager--next .link-area > em {
  order: 0;
}
.view__foot > .pager__box .link-area > span {
  font-weight: 500;
}
.view__foot > .pager__box .pager--prev .link-area > em,
.view__foot > .pager__box .pager--next .link-area > em {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: #777;
}
.view__foot > .pager__box .pager--prev:hover .link-area > em,
.view__foot > .pager__box .pager--next:hover .link-area > em {
  border-bottom: 1px solid #999;
}

/*** SUB CONTACT ***/
.contact__wrap {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 74px;
  padding: 0 10px;
  margin: 0 auto;
}
.contact__wrap > .contact--map {
  width: 50%;
  height: 70vw;
  max-height: 640px;
}
.contact__wrap > .contact--info {
  width: 50%;
}
.contact--info .info__item {
  margin-bottom: 34px;
}
.contact--info .info__item > h4 {
  margin: -6px 0 6px;
  font-size: 22px;
  font-weight: 700;
}
.contact--info .info__item > h5 {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 600;
}
.contact--info .info__item > .item__subs {
  font-size: 16px;
  line-height: 1.4;
}
.contact--info .info__item:first-child > .item__subs {
  font-weight: 500;
  font-size: 16px;
}
